logs/
Manga_CycleGAN/manga
Manga_CycleGAN/manga_raw
Manga_CycleGAN/mmgeneration
Manga_CycleGAN/summer2winter_pretrain_weight
Manga_CycleGAN/weight
pannels_train_test/
colored_panels_output/
panels_output/
pix2pix_baseline_results/
colored_background/
cyclegan_colored_panels_output/
panel_pix2pix_result/
pix2pix/colorization_dataset/
cyclegan_extractor_result/
cyclegan_extractor_result_old/
panel_pix2pix_results/
panel_pix2pix_result_nobg/
panel_cyclegan_result/
panel_cyclegan_nobg/
resultsHtml/
k8_notes/

